body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1068px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:3136px;
}
#u874 {
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:3136px;
}
#u875 {
  position:absolute;
  left:2px;
  top:1560px;
  width:511px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:1868px;
}
#u876 {
  position:absolute;
  left:557px;
  top:0px;
  width:511px;
  height:1868px;
}
#u877 {
  position:absolute;
  left:2px;
  top:926px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:160px;
  top:31px;
  width:183px;
  height:50px;
}
#u879 {
  position:absolute;
  left:2px;
  top:17px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:392px;
  height:21px;
}
#u880p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:384px;
  height:1px;
}
#u880p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:394px;
  height:21px;
}
#u880p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u880p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u880p002 {
  position:absolute;
  left:367px;
  top:-11px;
  width:22px;
  height:22px;
}
#u880p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u880.compound {
  width:0px;
  height:0px;
}
#u880 {
  position:absolute;
  left:343px;
  top:56px;
  width:382px;
  height:1px;
}
#u881 {
  position:absolute;
  left:2px;
  top:-8px;
  width:378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u882 {
  position:absolute;
  left:364px;
  top:223px;
  width:74px;
  height:50px;
}
#u883 {
  position:absolute;
  left:2px;
  top:17px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:492px;
  height:21px;
}
#u884p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:484px;
  height:1px;
}
#u884p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:494px;
  height:21px;
}
#u884p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u884p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u884p002 {
  position:absolute;
  left:467px;
  top:-11px;
  width:22px;
  height:22px;
}
#u884p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u884.compound {
  width:0px;
  height:0px;
}
#u884 {
  position:absolute;
  left:438px;
  top:248px;
  width:482px;
  height:1px;
}
#u885 {
  position:absolute;
  left:2px;
  top:-8px;
  width:478px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u886 {
  position:absolute;
  left:243px;
  top:315px;
  width:55px;
  height:50px;
}
#u887 {
  position:absolute;
  left:2px;
  top:17px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:502px;
  height:21px;
}
#u888p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:494px;
  height:1px;
}
#u888p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:504px;
  height:21px;
}
#u888p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u888p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u888p002 {
  position:absolute;
  left:477px;
  top:-11px;
  width:22px;
  height:22px;
}
#u888p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u888.compound {
  width:0px;
  height:0px;
}
#u888 {
  position:absolute;
  left:298px;
  top:340px;
  width:492px;
  height:1px;
}
#u889 {
  position:absolute;
  left:2px;
  top:-8px;
  width:488px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:43px;
  background:inherit;
  background-color:rgba(245, 203, 121, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#874F1E;
}
#u890 {
  position:absolute;
  left:800px;
  top:312px;
  width:51px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#874F1E;
}
#u891 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u892 {
  position:absolute;
  left:48px;
  top:403px;
  width:442px;
  height:96px;
}
#u893 {
  position:absolute;
  left:2px;
  top:40px;
  width:438px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:377px;
  height:21px;
}
#u894p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:369px;
  height:1px;
}
#u894p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:379px;
  height:21px;
}
#u894p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u894p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u894p002 {
  position:absolute;
  left:352px;
  top:-11px;
  width:22px;
  height:22px;
}
#u894p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u894.compound {
  width:0px;
  height:0px;
}
#u894 {
  position:absolute;
  left:484px;
  top:457px;
  width:367px;
  height:1px;
}
#u895 {
  position:absolute;
  left:2px;
  top:-8px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:43px;
  background:inherit;
  background-color:rgba(238, 125, 80, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u896 {
  position:absolute;
  left:911px;
  top:403px;
  width:51px;
  height:43px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u897 {
  position:absolute;
  left:2px;
  top:8px;
  width:47px;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u898 {
  position:absolute;
  left:264px;
  top:613px;
  width:52px;
  height:34px;
}
#u899 {
  position:absolute;
  left:2px;
  top:9px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:504px;
  height:21px;
}
#u900p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:496px;
  height:1px;
}
#u900p000_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:506px;
  height:21px;
}
#u900p001 {
  position:absolute;
  left:-1px;
  top:0px;
  width:2px;
  height:1px;
}
#u900p001_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:12px;
  height:21px;
}
#u900p002 {
  position:absolute;
  left:479px;
  top:-11px;
  width:22px;
  height:22px;
}
#u900p002_img {
  position:absolute;
  left:0px;
  top:-10px;
  width:32px;
  height:42px;
}
#u900.compound {
  width:0px;
  height:0px;
}
#u900 {
  position:absolute;
  left:326px;
  top:633px;
  width:494px;
  height:1px;
}
#u901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:490px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  position:absolute;
  left:642px;
  top:1074px;
  width:52px;
  height:34px;
}
#u903 {
  position:absolute;
  left:2px;
  top:9px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:903px;
  top:1059px;
  width:52px;
  height:34px;
}
#u905 {
  position:absolute;
  left:2px;
  top:9px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:653px;
  top:1118px;
  width:52px;
  height:34px;
}
#u907 {
  position:absolute;
  left:2px;
  top:9px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  position:absolute;
  left:923px;
  top:1111px;
  width:52px;
  height:34px;
}
#u909 {
  position:absolute;
  left:2px;
  top:9px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u910 {
  position:absolute;
  left:653px;
  top:1312px;
  width:52px;
  height:34px;
}
#u911 {
  position:absolute;
  left:2px;
  top:9px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  position:absolute;
  left:903px;
  top:1299px;
  width:52px;
  height:34px;
}
#u913 {
  position:absolute;
  left:2px;
  top:9px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  position:absolute;
  left:653px;
  top:1356px;
  width:52px;
  height:34px;
}
#u915 {
  position:absolute;
  left:2px;
  top:9px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:903px;
  top:1356px;
  width:52px;
  height:34px;
}
#u917 {
  position:absolute;
  left:2px;
  top:9px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:653px;
  top:1545px;
  width:52px;
  height:34px;
}
#u919 {
  position:absolute;
  left:2px;
  top:9px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:653px;
  top:1597px;
  width:52px;
  height:34px;
}
#u921 {
  position:absolute;
  left:2px;
  top:9px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:26px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:814px;
  top:1839px;
  width:64px;
  height:26px;
}
#u923 {
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
