body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2723px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:619px;
  height:1180px;
}
#u5 {
  position:absolute;
  left:88px;
  top:3px;
  width:619px;
  height:1180px;
}
#u6 {
  position:absolute;
  left:2px;
  top:582px;
  width:615px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u7 {
  position:absolute;
  left:704px;
  top:23px;
  width:189px;
  height:111px;
}
#u8 {
  position:absolute;
  left:10px;
  top:10px;
  width:169px;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:105px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u9 {
  position:absolute;
  left:714px;
  top:669px;
  width:226px;
  height:105px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10 {
  position:absolute;
  left:10px;
  top:10px;
  width:206px;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u11 {
  position:absolute;
  left:784px;
  top:321px;
  width:243px;
  height:136px;
}
#u12 {
  position:absolute;
  left:10px;
  top:10px;
  width:223px;
  word-wrap:break-word;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:662px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u13 {
  position:absolute;
  left:88px;
  top:321px;
  width:662px;
  height:69px;
  color:#000000;
}
#u14 {
  position:absolute;
  left:2px;
  top:26px;
  width:658px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:46px;
  height:25px;
}
#u15 {
  position:absolute;
  left:750px;
  top:353px;
  width:34px;
  height:5px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-6px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u17 {
  position:absolute;
  left:703px;
  top:614px;
  width:271px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:109px;
  top:614px;
  width:584px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:106px;
  top:1000px;
  width:584px;
  height:39px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u21 {
  position:absolute;
  left:707px;
  top:457px;
  width:193px;
  height:28px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:20px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u23 {
  position:absolute;
  left:88px;
  top:40px;
  width:616px;
  height:52px;
  color:#000000;
}
#u24 {
  position:absolute;
  left:2px;
  top:18px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:209px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u25 {
  position:absolute;
  left:88px;
  top:102px;
  width:616px;
  height:209px;
  color:#000000;
}
#u26 {
  position:absolute;
  left:2px;
  top:96px;
  width:612px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:1012px;
}
#u27 {
  position:absolute;
  left:1067px;
  top:108px;
  width:532px;
  height:1012px;
}
#u28 {
  position:absolute;
  left:2px;
  top:498px;
  width:528px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u29 {
  position:absolute;
  left:1025px;
  top:-11px;
  width:50px;
  height:64px;
}
#u30 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u31 {
  position:absolute;
  left:1095px;
  top:3px;
  width:321px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  white-space:nowrap;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 255, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u33 {
  position:absolute;
  left:210px;
  top:165px;
  width:154px;
  height:54px;
  color:#000000;
}
#u34 {
  position:absolute;
  left:2px;
  top:19px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:724px;
  top:150px;
  width:150px;
  height:150px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u36 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:352px;
  height:25px;
}
#u37 {
  position:absolute;
  left:374px;
  top:175px;
  width:340px;
  height:5px;
}
#u38 {
  position:absolute;
  left:2px;
  top:-6px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:258px;
  height:309px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u39 {
  position:absolute;
  left:730px;
  top:866px;
  width:258px;
  height:309px;
}
#u40 {
  position:absolute;
  left:10px;
  top:10px;
  width:238px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:580px;
}
#u41 {
  position:absolute;
  left:1706px;
  top:108px;
  width:304px;
  height:580px;
}
#u42 {
  position:absolute;
  left:2px;
  top:282px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:586px;
}
#u43 {
  position:absolute;
  left:2058px;
  top:108px;
  width:311px;
  height:586px;
}
#u44 {
  position:absolute;
  left:2px;
  top:285px;
  width:307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:585px;
}
#u45 {
  position:absolute;
  left:2416px;
  top:109px;
  width:307px;
  height:585px;
}
#u46 {
  position:absolute;
  left:2px;
  top:284px;
  width:303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:681px;
  height:25px;
}
#u47 {
  position:absolute;
  left:1027px;
  top:399px;
  width:669px;
  height:5px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-6px;
  width:665px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u49 {
  position:absolute;
  left:1694px;
  top:8px;
  width:353px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  white-space:nowrap;
}
