body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1943px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1416px;
  height:798px;
}
#u4716 {
  position:absolute;
  left:0px;
  top:816px;
  width:1416px;
  height:798px;
}
#u4717 {
  position:absolute;
  left:2px;
  top:391px;
  width:1412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1417px;
  height:794px;
}
#u4718 {
  position:absolute;
  left:0px;
  top:0px;
  width:1417px;
  height:794px;
}
#u4719 {
  position:absolute;
  left:2px;
  top:389px;
  width:1413px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4720 {
  position:absolute;
  left:437px;
  top:104px;
  width:54px;
  height:20px;
}
#u4721 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u4722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u4722 {
  position:absolute;
  left:447px;
  top:134px;
  width:33px;
  height:16px;
  color:#0066FF;
}
#u4723 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u4724_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u4724 {
  position:absolute;
  left:1453px;
  top:106px;
  width:161px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u4725 {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  white-space:nowrap;
}
#u4726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:98px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 51, 153, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u4726 {
  position:absolute;
  left:1443px;
  top:156px;
  width:500px;
  height:98px;
  font-size:12px;
  color:#FF3399;
  line-height:18px;
}
#u4727 {
  position:absolute;
  left:8px;
  top:4px;
  width:492px;
  word-wrap:break-word;
}
#u4728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4728 {
  position:absolute;
  left:1391px;
  top:106px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u4729 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u4730 {
  position:absolute;
  left:1411px;
  top:106px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u4730_seg0 {
  position:absolute;
  left:-4px;
  top:-20px;
  width:8px;
  height:20px;
}
#u4730_seg1 {
  position:absolute;
  left:-4px;
  top:-20px;
  width:131px;
  height:8px;
}
#u4730_seg2 {
  position:absolute;
  left:119px;
  top:-20px;
  width:8px;
  height:20px;
}
#u4730_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u4731 {
  position:absolute;
  left:12px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
