body {
  margin:0px;
  background-color:rgba(215, 215, 215, 1);
  background-image:none;
  position:static;
  left:auto;
  width:830px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1407 {
  position:absolute;
  left:-6px;
  top:11px;
  width:375px;
  height:667px;
}
#u1408 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:602px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1409 {
  position:absolute;
  left:-6px;
  top:75px;
  width:375px;
  height:602px;
}
#u1410 {
  position:absolute;
  left:2px;
  top:293px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:109px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 4px rgba(215, 215, 215, 0.349019607843137);
  -webkit-box-shadow:0px 0px 4px rgba(215, 215, 215, 0.349019607843137);
  box-shadow:0px 0px 4px rgba(215, 215, 215, 0.349019607843137);
}
#u1411 {
  position:absolute;
  left:7px;
  top:79px;
  width:352px;
  height:109px;
}
#u1412 {
  position:absolute;
  left:2px;
  top:46px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:53px;
}
#u1413 {
  position:absolute;
  left:288px;
  top:93px;
  width:52px;
  height:53px;
}
#u1414 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1415 {
  position:absolute;
  left:28px;
  top:92px;
  width:33px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1416 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u1417 {
  position:absolute;
  left:69px;
  top:96px;
  width:8px;
  height:13px;
}
#u1418 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u1419 {
  position:absolute;
  left:24px;
  top:124px;
  width:60px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u1420 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u1421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u1421 {
  position:absolute;
  left:99px;
  top:124px;
  width:60px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#D7D7D7;
}
#u1422 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u1423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1423 {
  position:absolute;
  left:18px;
  top:198px;
  width:65px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1424 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000666;
}
#u1425 {
  position:absolute;
  left:18px;
  top:238px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000666;
}
#u1426 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1427 {
  position:absolute;
  left:153px;
  top:238px;
  width:121px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1428 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u1429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u1429 {
  position:absolute;
  left:13px;
  top:262px;
  width:341px;
  height:1px;
}
#u1430 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000666;
}
#u1431 {
  position:absolute;
  left:18px;
  top:279px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000666;
}
#u1432 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1433 {
  position:absolute;
  left:229px;
  top:279px;
  width:117px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1434 {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u1435_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u1435 {
  position:absolute;
  left:13px;
  top:303px;
  width:341px;
  height:1px;
}
#u1436 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000666;
}
#u1437 {
  position:absolute;
  left:18px;
  top:320px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#000666;
}
#u1438 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1439 {
  position:absolute;
  left:131px;
  top:320px;
  width:223px;
  height:51px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1440 {
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  word-wrap:break-word;
}
#u1441_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u1441 {
  position:absolute;
  left:13px;
  top:374px;
  width:341px;
  height:1px;
}
#u1442 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1443 {
  position:absolute;
  left:18px;
  top:408px;
  width:113px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1444 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000666;
}
#u1445 {
  position:absolute;
  left:21px;
  top:384px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#000666;
}
#u1446 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1447 {
  position:absolute;
  left:246px;
  top:384px;
  width:85px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u1448 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u1449 {
  position:absolute;
  left:16px;
  top:590px;
  width:341px;
  height:1px;
}
#u1450 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:14px;
}
#u1451 {
  position:absolute;
  left:341px;
  top:384px;
  width:9px;
  height:14px;
}
#u1452 {
  position:absolute;
  left:2px;
  top:-1px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1453_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u1453 {
  position:absolute;
  left:229px;
  top:385px;
  width:13px;
  height:15px;
}
#u1454 {
  position:absolute;
  left:2px;
  top:0px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:2px;
}
#u1455 {
  position:absolute;
  left:18px;
  top:519px;
  width:341px;
  height:1px;
}
#u1456 {
  position:absolute;
  left:2px;
  top:-8px;
  width:337px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 144, 109, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6633;
}
#u1457 {
  position:absolute;
  left:18px;
  top:477px;
  width:48px;
  height:21px;
  color:#FF6633;
}
#u1458 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u1459_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 144, 109, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6633;
}
#u1459 {
  position:absolute;
  left:79px;
  top:477px;
  width:75px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6633;
}
#u1460 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u1461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 144, 109, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6633;
}
#u1461 {
  position:absolute;
  left:168px;
  top:477px;
  width:48px;
  height:21px;
  color:#FF6633;
}
#u1462 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u1463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 144, 109, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6633;
}
#u1463 {
  position:absolute;
  left:18px;
  top:448px;
  width:48px;
  height:21px;
  color:#FF6633;
}
#u1464 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u1465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 144, 109, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6633;
}
#u1465 {
  position:absolute;
  left:79px;
  top:448px;
  width:75px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6633;
}
#u1466 {
  position:absolute;
  left:2px;
  top:2px;
  width:71px;
  word-wrap:break-word;
}
#u1467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 144, 109, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6633;
}
#u1467 {
  position:absolute;
  left:168px;
  top:448px;
  width:48px;
  height:21px;
  color:#FF6633;
}
#u1468 {
  position:absolute;
  left:2px;
  top:2px;
  width:44px;
  word-wrap:break-word;
}
#u1469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 244, 244, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 144, 109, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6633;
}
#u1469 {
  position:absolute;
  left:226px;
  top:448px;
  width:99px;
  height:21px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF6633;
}
#u1470 {
  position:absolute;
  left:2px;
  top:2px;
  width:95px;
  word-wrap:break-word;
}
#u1471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1471 {
  position:absolute;
  left:18px;
  top:567px;
  width:109px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1472 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u1473 {
  position:absolute;
  left:70px;
  top:573px;
  width:5px;
  height:5px;
}
#u1474 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1475 {
  position:absolute;
  left:18px;
  top:537px;
  width:97px;
  height:22px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u1476 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u1477 {
  position:absolute;
  left:244px;
  top:570px;
  width:115px;
  height:14px;
  font-size:12px;
  color:#666666;
}
#u1478 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  word-wrap:break-word;
}
#u1479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:12px;
}
#u1479 {
  position:absolute;
  left:351px;
  top:569px;
  width:8px;
  height:12px;
}
#u1480 {
  position:absolute;
  left:2px;
  top:-2px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1481 {
  position:absolute;
  left:282px;
  top:235px;
  width:72px;
  height:21px;
}
#u1482 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1483_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1483 {
  position:absolute;
  left:282px;
  top:240px;
  width:14px;
  height:14px;
}
#u1484 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#0000FF;
}
#u1485 {
  position:absolute;
  left:300px;
  top:238px;
  width:49px;
  height:17px;
  font-size:12px;
  color:#0000FF;
}
#u1486 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1487_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u1487 {
  position:absolute;
  left:26px;
  top:157px;
  width:25px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#949494;
}
#u1488 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF6600;
}
#u1489 {
  position:absolute;
  left:261px;
  top:159px;
  width:85px;
  height:20px;
  color:#FF6600;
}
#u1490 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1491 {
  position:absolute;
  left:310px;
  top:42px;
  width:49px;
  height:17px;
  font-size:12px;
}
#u1492 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:46px;
  background:inherit;
  background-color:rgba(240, 121, 57, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1493 {
  position:absolute;
  left:-4px;
  top:631px;
  width:375px;
  height:46px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1494 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u1495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1495 {
  position:absolute;
  left:587px;
  top:408px;
  width:140px;
  height:40px;
}
#u1496 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1497 {
  position:absolute;
  left:451px;
  top:20px;
  width:385px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1498 {
  position:absolute;
  left:10px;
  top:10px;
  width:365px;
  word-wrap:break-word;
}
#u1499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1499 {
  position:absolute;
  left:458px;
  top:79px;
  width:300px;
  height:170px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1500 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  word-wrap:break-word;
}
#u1501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1501 {
  position:absolute;
  left:458px;
  top:249px;
  width:150px;
  height:40px;
}
#u1502 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
#u1503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1503 {
  position:absolute;
  left:608px;
  top:249px;
  width:150px;
  height:40px;
}
#u1504 {
  position:absolute;
  left:2px;
  top:11px;
  width:146px;
  word-wrap:break-word;
}
