body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:948px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u654 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u655 {
  position:absolute;
  left:164px;
  top:134px;
  width:614px;
  height:1205px;
}
#u656 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u657 {
  position:absolute;
  left:154px;
  top:52px;
  width:50px;
  height:64px;
}
#u658 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u659 {
  position:absolute;
  left:224px;
  top:66px;
  width:724px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u660 {
  position:absolute;
  left:0px;
  top:0px;
  width:724px;
  white-space:nowrap;
}
#u661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u661 {
  position:absolute;
  left:194px;
  top:230px;
  width:546px;
  height:970px;
}
#u662 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:139px;
}
#u663 {
  position:absolute;
  left:387px;
  top:428px;
  width:164px;
  height:139px;
}
#u664 {
  position:absolute;
  left:2px;
  top:62px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u665 {
  position:absolute;
  left:376px;
  top:594px;
  width:220px;
  height:20px;
}
#u666 {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  word-wrap:break-word;
}
