body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2013px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u1043 {
  position:absolute;
  left:99px;
  top:167px;
  width:614px;
  height:1205px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u1045 {
  position:absolute;
  left:89px;
  top:85px;
  width:50px;
  height:64px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#CCCCCC;
}
#u1047 {
  position:absolute;
  left:159px;
  top:99px;
  width:65px;
  height:45px;
  font-size:32px;
  color:#CCCCCC;
}
#u1048 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1049 {
  position:absolute;
  left:129px;
  top:263px;
  width:546px;
  height:970px;
}
#u1050 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:970px;
}
#u1051 {
  position:absolute;
  left:129px;
  top:263px;
  width:545px;
  height:970px;
}
#u1052 {
  position:absolute;
  left:2px;
  top:477px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1053 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:1205px;
}
#u1054 {
  position:absolute;
  left:921px;
  top:141px;
  width:614px;
  height:1205px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:594px;
  width:610px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:64px;
}
#u1056 {
  position:absolute;
  left:911px;
  top:59px;
  width:50px;
  height:64px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:24px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u1058 {
  position:absolute;
  left:981px;
  top:73px;
  width:212px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:32px;
  color:#CCCCCC;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u1060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:970px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1060 {
  position:absolute;
  left:951px;
  top:237px;
  width:546px;
  height:970px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:477px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:84px;
}
#u1063 {
  position:absolute;
  left:951px;
  top:237px;
  width:546px;
  height:84px;
}
#u1064 {
  position:absolute;
  left:2px;
  top:34px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1065 {
  position:absolute;
  left:1153px;
  top:279px;
  width:142px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  word-wrap:break-word;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u1067 {
  position:absolute;
  left:963px;
  top:275px;
  width:32px;
  height:32px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1069 {
  position:absolute;
  left:971px;
  top:435px;
  width:507px;
  height:315px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:150px;
  width:503px;
  word-wrap:break-word;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9C9C9;
}
#u1071 {
  position:absolute;
  left:1045px;
  top:474px;
  width:286px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9C9C9;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1073 {
  position:absolute;
  left:1558px;
  top:281px;
  width:361px;
  height:84px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u1075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1075 {
  position:absolute;
  left:1475px;
  top:281px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u1076 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u1077 {
  position:absolute;
  left:1495px;
  top:281px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u1077_seg0 {
  position:absolute;
  left:-4px;
  top:-15px;
  width:8px;
  height:15px;
}
#u1077_seg1 {
  position:absolute;
  left:-4px;
  top:-15px;
  width:252px;
  height:8px;
}
#u1077_seg2 {
  position:absolute;
  left:240px;
  top:-15px;
  width:8px;
  height:15px;
}
#u1077_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u1078 {
  position:absolute;
  left:72px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1079 {
  position:absolute;
  left:1452px;
  top:457px;
  width:14px;
  height:14px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1081 {
  position:absolute;
  left:1112px;
  top:394px;
  width:224px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1082 {
  position:absolute;
  left:2px;
  top:6px;
  width:220px;
  word-wrap:break-word;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:546px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1083 {
  position:absolute;
  left:953px;
  top:321px;
  width:546px;
  height:58px;
  opacity:0.6;
}
#u1084 {
  position:absolute;
  left:2px;
  top:21px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1085 {
  position:absolute;
  left:1038px;
  top:341px;
  width:211px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1086 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:40px;
}
#u1087 {
  position:absolute;
  left:974px;
  top:331px;
  width:37px;
  height:40px;
  opacity:0.4;
  font-size:48px;
  color:#989898;
}
#u1088 {
  position:absolute;
  left:2px;
  top:12px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u1089 {
  position:absolute;
  left:989px;
  top:449px;
  width:46px;
  height:46px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#949494;
}
#u1091 {
  position:absolute;
  left:1045px;
  top:449px;
  width:127px;
  height:25px;
  font-size:18px;
  color:#949494;
}
#u1092 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1093 {
  position:absolute;
  left:989px;
  top:512px;
  width:471px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  word-wrap:break-word;
}
#u1095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u1096 {
  position:absolute;
  left:989px;
  top:575px;
  width:149px;
  height:149px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1098 {
  position:absolute;
  left:1089px;
  top:683px;
  width:22px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1099 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1100 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u1101 {
  position:absolute;
  left:1148px;
  top:575px;
  width:149px;
  height:149px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1103 {
  position:absolute;
  left:1248px;
  top:683px;
  width:22px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1104 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u1106 {
  position:absolute;
  left:1307px;
  top:575px;
  width:149px;
  height:149px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1108 {
  position:absolute;
  left:1407px;
  top:683px;
  width:22px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1109 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:507px;
  height:315px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1110 {
  position:absolute;
  left:975px;
  top:772px;
  width:507px;
  height:315px;
}
#u1111 {
  position:absolute;
  left:2px;
  top:150px;
  width:503px;
  word-wrap:break-word;
}
#u1112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9C9C9;
}
#u1112 {
  position:absolute;
  left:1049px;
  top:811px;
  width:286px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#C9C9C9;
}
#u1113 {
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1114 {
  position:absolute;
  left:1456px;
  top:794px;
  width:14px;
  height:14px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:46px;
}
#u1116 {
  position:absolute;
  left:993px;
  top:786px;
  width:46px;
  height:46px;
}
#u1117 {
  position:absolute;
  left:2px;
  top:15px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#949494;
}
#u1118 {
  position:absolute;
  left:1049px;
  top:786px;
  width:127px;
  height:25px;
  font-size:18px;
  color:#949494;
}
#u1119 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1120 {
  position:absolute;
  left:993px;
  top:849px;
  width:471px;
  height:53px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  word-wrap:break-word;
}
#u1122 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u1123 {
  position:absolute;
  left:993px;
  top:912px;
  width:149px;
  height:149px;
}
#u1124 {
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1125 {
  position:absolute;
  left:1093px;
  top:1020px;
  width:22px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1126 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u1128 {
  position:absolute;
  left:1152px;
  top:912px;
  width:149px;
  height:149px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1130 {
  position:absolute;
  left:1252px;
  top:1020px;
  width:22px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1131 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1132 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:149px;
}
#u1133 {
  position:absolute;
  left:1311px;
  top:912px;
  width:149px;
  height:149px;
}
#u1134 {
  position:absolute;
  left:2px;
  top:66px;
  width:145px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:18px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1135 {
  position:absolute;
  left:1411px;
  top:1020px;
  width:22px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1136 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  white-space:nowrap;
}
#u1137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:115px;
}
#u1137 {
  position:absolute;
  left:1330px;
  top:972px;
  width:148px;
  height:115px;
}
#u1138 {
  position:absolute;
  left:2px;
  top:50px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  height:442px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1139 {
  position:absolute;
  left:1539px;
  top:535px;
  width:474px;
  height:442px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FF3399;
}
#u1140 {
  position:absolute;
  left:0px;
  top:0px;
  width:474px;
  word-wrap:break-word;
}
#u1141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1141 {
  position:absolute;
  left:1456px;
  top:535px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u1142 {
  position:absolute;
  left:2px;
  top:11px;
  width:36px;
  word-wrap:break-word;
}
#u1143 {
  position:absolute;
  left:1476px;
  top:535px;
  width:0px;
  height:0px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#656565;
}
#u1143_seg0 {
  position:absolute;
  left:-4px;
  top:-19px;
  width:8px;
  height:19px;
}
#u1143_seg1 {
  position:absolute;
  left:-4px;
  top:-19px;
  width:308px;
  height:8px;
}
#u1143_seg2 {
  position:absolute;
  left:296px;
  top:-19px;
  width:8px;
  height:19px;
}
#u1143_seg3 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u1144 {
  position:absolute;
  left:100px;
  top:-23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:987px;
}
#u1145 {
  position:absolute;
  left:129px;
  top:248px;
  width:545px;
  height:987px;
}
#u1146 {
  position:absolute;
  left:2px;
  top:486px;
  width:541px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1147 {
  position:absolute;
  left:202px;
  top:506px;
  width:81px;
  height:28px;
  font-size:20px;
}
#u1148 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u1149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:29px;
}
#u1149 {
  position:absolute;
  left:148px;
  top:506px;
  width:42px;
  height:28px;
}
#u1150 {
  position:absolute;
  left:2px;
  top:6px;
  width:38px;
  word-wrap:break-word;
}
#u1151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u1151 {
  position:absolute;
  left:626px;
  top:504px;
  width:30px;
  height:28px;
}
#u1152 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u1153 {
  position:absolute;
  left:1435px;
  top:278px;
  width:37px;
  height:25px;
  font-size:18px;
  color:#FFFFFF;
}
#u1154 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1155 {
  position:absolute;
  left:701px;
  top:457px;
  width:150px;
  height:150px;
}
#u1156 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
